<h5 ><i class="icon-info-sign"></i> Asistente Virtual.</h5>
      <hr>
      <div class="col-xs-4 col-lg-4" >
      Esta opción permite reestablecer el password, es decir después de haber ingresado su identificación, deberá ingresar un documento entregado a partir del 2015.
    </div>
    <div class="col-xs-4 col-lg-4" >
      Imporate recordarle que el email ingresado será actualizado en su cuenta. Una vez validado su identificación y documento, le sistema le pedirá que ingrese su nuvea clave, unaz finalizado usted estará activo para ingresar al sistema (<a href="#" ng-click="cerrarMenuPrincipal();formDatosVirtual.formularioA=true;formDatosVirtual.formularioAA=true;formDatosVirtual.formularioB=false;formDatosVirtual.formularioC=false;formDatosVirtual.formularioD=false">Login</a>)

    </div>
    <div class="col-xs-4 col-lg-4" >
      Si usted no recuerda algún documento entregado, puede enviarnos un mensaje(con su email e indentificación), si un asistente se ecuentra en línea le pedira algunos datos, en caso contrario nos comunicaremos vía email
    </div>
