<h5><i class="icon-info-sign"></i> Recuperación de Clave.</h5>
  <hr>
  <div class="col-xs-4 col-lg-4" >

  Esta opción permite reestablecer el password, es decir el sistema creará un password aleatorio que será enviado a su correo electrónico.
</div>

<div class="col-xs-4 col-lg-4" >
  Si usted no recuerda el email, por favor haga click en <a href="#" ng-click="formDatosVirtual.formularioD=true;formDatosVirtual.formularioA=false;formDatosVirtual.formularioB=false;formDatosVirtual.formularioC=false;getEstablecerComunicacion();" style="color:red" >Soporte en línea</a>.
</div>
