<div class="panel panel-default">
    <div class="panel-heading">Términos y Condiciones</div>
    <div class="panel-body" style="font-size:10px;font-weight:800;font-family:Verdana, Geneva, sans-serif;text-transform:none;height:300px;overflow:auto;">
        <div ng-bind-html="deliberatelyTrustDangerousSnippet(condiciones)"></div>
    </div>
    <a href="#"  class="btn btn-success " ng-click="formDatosVirtual.formularioC=false;formDatosVirtual.formularioA=true;formDatosVirtual.formularioAA=true;formDatosVirtual.formularioB=false;formDatosVirtual.formularioD=false;enviarDatos();"  >Ingresar al Sistema</a>
</div>
