<center>Imagenes-------
  <ul class="sprocket-mosaic-container sprocket-mosaic-columns-4 ">
      <li ng-repeat="empresa in empresasCache">
            <div class="sprocket-mosaic-item" style="{{control.isSet('imagen',empresa.id) ? '-webkit-box-shadow:10px 25px 20px -2px rgba(0,0,0,0.59);-moz-box-shadow:10px 25px 20px  -2px rgba(0,0,0,0.59);box-shadow:10px 25px 20px  -2px rgba(0,0,0,0.59);':''}}">
                <div style="display: none;"></div>
                <div class="sprocket-padding">
                    <div class="sprocket-mosaic-image-container">
                        <a href="#" ng-click="control.setTab('imagen',empresa.id,empresa.descripcion );control.setEmisorComboBox(empresa)">
                            <img   ng-src="{{empresa.urllogo}}" alt="{{empresa.descripcion}}" class="sprocket-mosaic-image">
                            <span class="sprocket-mosaic-hover"></span>
                            <span class="sprocket-mosaic-hovercontent" data-content=""></span>
                        </a>
                    </div>
                    <div class="sprocket-mosaic-text"><!-- text --></div>
                </div>
            </div>
        </li>
  </ul>
</center>
