  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" style="width:450px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <span class="seriftituloB">Bitácora &#187; {{rc.movimientoReferencia.id}} |  </span>
            <span>Estado &#187;  <span class="btn-{{rc.movimientoReferencia.estado == 'N'?'danger':(rc.movimientoReferencia.estado != 'A'?'warning':'success')}}" style="font-size:10px;padding:6px 6px">{{rc.movimientoReferencia.estado | chequearEstados}}</span></span>
        </div>
        <div class="modal-body">
            <div style="font-size:11px;line-height:11px;">
                <span>Clave de Acceso&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;: {{rc.movimientoReferencia.claveacceso}}</span><br>
                <span>Autorización&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;: {{rc.movimientoReferencia.numeroautorizacion}}</span><br>
                <span>Fecha SRI&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;: {{rc.movimientoReferencia.fechasri|date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </div>
            <p ng-show="rc.movimientoReferencia.estado !== 'A' && rc.movimientoReferencia.observacion.length>0" class="serifparrafo">Observación
            <div ng-show="rc.movimientoReferencia.estado !== 'A' && rc.movimientoReferencia.observacion.length>0"  style="font-size:12px;line-height:11px;padding:10px 10px;color:white" class="serifparrafo btn-warning" ng-bind-html="deliberatelyTrustDangerousSnippet(rc.movimientoReferencia.observacion)" ></div>
            </p>
            <div style="height:200px;overflow:auto;font-size:10px;line-height:10px;" ng-if="rc.movimientobitacorascope.length>0">
                                <table width="100%"     id="mov-bitacora"  class="table table-striped" >
                                    <thead>
                                        <tr>
                                            <th data-priority="1" >Id</th>
                                            <!--<th data-priority="1" >SRI</th>-->
                                            <th data-priority="2" >Creaci&#243;n</th>
                                            <th data-priority="3" >Motivo</th>
                                            <!--<th data-priority="persist" >Estado</th>-->
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr ng-repeat="bitacora in rc.movimientobitacorascope | filter:filtrarPorEmailEnviado">
                                            <td>{{bitacora.id}}</td>
                                            <!--<td>{{bitacora.conceptosri_id}}</td>-->
                                            <td>{{bitacora.fechacreacion|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                            <td>{{bitacora.mensajesri}}
                                                <a  ng-show="bitacora.observacionsri.length>0" href="#" ng-click="!bitacora.mostrarobs?bitacora.mostrarobs = true:bitacora.mostrarobs=false;"  >
                                                    más...
                                                </a>
                                                <div class="btn-warning " style="font-size:12px;line-height:11px;padding:10px 10px;color:white" ng-if="bitacora.mostrarobs" ng-bind-html="deliberatelyTrustDangerousSnippet(bitacora.observacionsri)"></div>
                                            </td>
                                            <!--<td  class="bg codigo_{{bitacora.codigo}} centrarImagenTD"></td>-->
                                        </tr>
                                    </tbody >
                                </table>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="myModalBitacora" role="dialog" style="font-size:10px !important;">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" style="width:450px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <span class="seriftituloB">Por favor seleccione la columna a mostrar u ocultar</span>
        </div>
        <div class="modal-body">
            <div style="min-width:120px;max-height:200px;overflow:auto; list-style-type:none">
                <table>
                    <tr style="height:20px;line-height:10px;" ng-show="currentUsuario.edi ? columna.edi : columna.admin" ng-repeat="columna in columnasTablaMovNC">
                      <td>
                          <input data-mini="true" data-role="none" ng-click="mostrarOcultarColumna(columna)" type="checkbox" ng-model="columna.estado"  >{{columna.nombre}} </input>
                      </td>
                      <td class="alert alert-{{columna.estado?'info':''}}" role="alert" style="padding:5px 0px 0px 0px !important">
                          <span ng-show="columna.detalle"    ng-bind-html="rc.deliberatelyTrustDangerousSnippet(columna.detalle)" ></span>
                      </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" ng-click="rc.grabarColumnasEnFavoritos();">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Agregar a Favoritos
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>