<div class="col-sm-5 col-md-5 ">
   
    <h4 class="sub-header">Documentos Electrónicos <span  ng-show="busqueda.tipodoc"> &#187; {{busqueda.tipodoc | checkTipoDoc}}</span></h4>
<!-- Tabla de registros -->
      <table   id="tabla-movientos"  class="table table-striped" >
          <thead>
              <tr style="font-size:13px">
                  <th height="25"  ng-if="columna.estado === true ? (currentUsuario.edi ? columna.edi : columna.admin) : false" style="min-width: {{columna.width ? columna.width:'100px'}};max-width:190px;word-wrap: break-word;text-align:center" ng-repeat="columna in columnasTablaMovNC"  >
                      <span style="min-width: 100px;max-width:190px;word-wrap: break-word;" ng-show="columna.nombre!='Documento' &&columna.nombre!='Comprobante'&&columna.nombre!='Procesado'&&columna.nombre!='Estado'&&columna.nombre!='Referencia'">{{columna.nombre}}</span>
                      <div  class="dropdown" ng-show="columna.nombre==='Documento'">
                        <button style="padding:0px 5px 0px 5px  !important; font-size:12px !important;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu19" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          {{columna.nombre}} <span ng-if="control.busqueda.tipodoc" class="label label-default"><i class="icon-fixed-width icon-search"></i></span>
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        </ul>
                      </div>
                      <div class="dropdown" ng-show="columna.nombre==='Comprobante'">
                        <button style="padding:0px 5px 0px 5px  !important; font-size:12px !important;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu{{$index}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          {{columna.nombre}} <span ng-if="rc.movimientoId" class="label label-default"><i class="icon-fixed-width icon-search"></i></span>
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="min-width:290px">

                            <div class="input-group" >
                                <div style="width:100%"   id="prefetch-documentos{{$index}}" >
                                    <input  style="font-size:12px;width:100%!important;"  ng-click="rc.iniciarTypeheadDocumentos(empresa.id, busqueda.tipodoc)"  id="prefetch-documentos{{$index}}-input"    ng-blur="mostrarMensajeprefetchDoc=false;" class="typeahead" type="text" placeholder=" Ingrese el documento" />
                                </div>
                                <span class="input-group-btn">
                                <button class="btn btn-primary" ng-enter="rc.checkDocumento();"  ng-click="rc.getRegistros(false, false);" name="buscarRegistrosNow{{$index}}" id="buscarRegistrosDocNow{{$index}}" type="button"><i class="icon-fixed-width icon-search" title="Buscar registros"></i>
                                </button>
                            </div>
                              <!--<input style="width:100%" title="SI DESEA FILTRAR LA BÚSQUEDA POR EL NÚMERO DE DOCUMENTO/CLAVE DE ACCESO/SERIE POR INGRÉSELO EN ESTE CAMPO"    ng-keyup="enviarDatos();" ng-model="control.busqueda.criterio"  type="text" autocomplete="off" placeholder=" Comprobante/CA/serie/referencia"  />-->
                        </ul>
                      </div>
                      <div class="dropdown" ng-if="columna.nombre==='Procesado'">
                        <button style="padding:0px 5px 0px 5px  !important; font-size:12px !important;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          Por Fecha <span ng-if="busqueda.finicio || busqueda.ffin" class="label label-default"><i class="icon-fixed-width icon-search"></i></span>
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="max-width:150px">
                          <li style="padding:10px;color:rgb(114, 114, 121)">
                               <div class="btn-group">
                                <input name="finicio" id="finicio" class="form-control" style="width:120px" ng-click="rc.activarDatePicker(true);" ng-keyup="rc.enviarDatos();"  ng-model="busqueda.finicio" size="30" title="ESTE CAMPO ES OPCIONAL Y HACE REFERENCIA A LA FECHA(EMISION) INICIO" placeholder="dd/mm/yyyy"  type="text" autocomplete="off"  />
                                <a class="glyphicon glyphicon-remove-sign form-control-feedback form-control-clear" ng-click="busqueda.finicio=''" style="pointer-events: auto; text-decoration: none;cursor: pointer;"></a>
                                  
                              </div>
                          </li>
                          <li style="padding:10px;color:rgb(114, 114, 121)">
                              <div class="btn-group">
                              <input name="ffin" id="ffin" class="form-control" style="width:120px" ng-click="rc.activarDatePicker(false);" ng-keyup="rc.enviarDatos();"  ng-model="busqueda.ffin" size="30" title="ESTE CAMPO ES OPCIONAL Y HACE REFERENCIA A LA FECHA(EMISION) FIN" ng-enter="rc.getRegistros(false, false);" placeholder="dd/mm/yyyy"  type="text" autocomplete="off"  />
                              <a class="glyphicon glyphicon-remove-sign form-control-feedback form-control-clear" ng-click="busqueda.ffin='';rc.getRegistros(false, false);" style="pointer-events: auto; text-decoration: none;cursor: pointer;"></a>
                              </div>
                          </li >
                           <li ><center><button class="btn btn-primary serifboton"  ng-click="rc.getRegistros(false, false);">Buscar ahora </button> </center></li>
                        </ul>
                      </div>
                      <div class="dropdown" ng-show="columna.nombre==='Estado'">
                        <button style="padding:0px 5px 0px 5px  !important; font-size:12px !important;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu110" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          {{columna.nombre}} <span ng-if="busqueda.estado" ><i  class="icon-fixed-width icon-search"></i></span>
                          <span class="caret"></span>
                        </button>
                         <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              <li class="{{busqueda.estado === estado.estado?'active':'' }}" ng-repeat="estado in rc.estados"><a  ng-click="rc.setEstadoMovmiento(estado.estado)">{{estado.estado | chequearEstados}} &#187; {{estado.count}}</a></li>
                              <li ng-hide="currentUsuario.edi" class="{{!busqueda.estado?'active':'' }}" ><a ng-click="rc.setEstadoMovmiento('0')">CUALQUIER ESTADO</a></li>
                          </ul>
                      </div>
                      <div class="dropdown" ng-show="columna.nombre==='Referencia'">
                        <button style="padding:0px 5px 0px 5px  !important; font-size:12px !important;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu111" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          {{columna.nombre}} <span ng-if="busqueda.criterio" class="label label-default"><i class="icon-fixed-width icon-search"></i></span>
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="min-width:290px">
                          <li style="padding:10px;color:rgb(114, 114, 121)">
                              <input style="width:100%" title="PUEDE FILTRAR LA BÚSQUEDA POR {{control.labelsReferencia[control.busqueda.tipodoc]}}"    ng-keyup="enviarDatos();" ng-model="control.busqueda.referenciaDoc"  type="text" autocomplete="off" placeholder=" {{control.labelsReferencia[control.busqueda.tipodoc]}}"  />
                          </li>
                          <li ><center><button class="btn btn-primary serifboton"  ng-click="control.busquedaAvanzada();">Buscar ahora </button> </center></li>
                        </ul>
                      </div>
                  </th>
                  <th>
                      <button  style="padding:0px 0px 0px 3px;font-size:14px !important;" class="btn btn-warning tooltip-bottom" title="Permite mostrar u ocultar columnas."  data-toggle="modal" data-target="#myModalBitacora" ><i class="icon-fixed-width icon-table"></i></button>
                  </th>
                  <th>
                      <button style="padding:0px 0px 0px 3px;font-size:14px !important;" class="btn btn-warning tooltip-bottom" title="Permite avanzar, para ver los siguientes registros. Recuerde que la paginación se encuentra en la parte inferior" ng-click="rc.getRegistros(true, false)"><i class="icon-fixed-width icon-forward"></i></button>
                  </th>

              </tr>
          </thead>
          <tbody style="font-size:10px">
              <tr class="zebra" align="center"  ng-repeat="dato in rc.movimientos">
                  <td ng-if="columnasTablaMovNC[0].estado ==true ? (currentUsuario.edi ? columnasTablaMovNC[0].edi : columnasTablaMovNC[0].admin) : false" > <span ng-if="currentUsuario.edi" >{{dato.id}}</span>
                      <!--MENU DROPDOWN CUANDO PRESIONAN EL ID-->
                      <div class="dropdown">
                        <a  style="height: 5px !important;font-size:14px !important;color:#DF943F;cursor:pointer;text-decoration:none" id="dropdownMenu11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="label label-success"> {{dato.id}}</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu11">
                            <li><a style="cursor:pointer" ng-click="rc.getMovimientoBitacora(dato)"  data-toggle="modal" data-target="#myModal" >Bitacora</a></li>
                            <li><a  style="color:#7D0D89;cursor:pointer" class="serifLink" ng-click="getEliminarRegistroDefinitivo()" title="Esta opción permite eliminar el registro de forma definitiva de la base de datos" ng-show="movimientoReferencia.estado !== 'A' ||(movimientoReferencia.ambiente == '1')" >Eliminar Registro</a> </li>
                            <li ><a  style="color:#DF943F;cursor:pointer"  class="serifLink" ng-click="getFactaraJson(control.busqueda.tipodoc);editarFactura=true;"  >Editar Registro</a></li>
                            <li ng-show="movimientoReferencia.estado !== 'R' && movimientoReferencia.estado !== 'A'"><a href="#" style="color:#3F78DF;" class="serifLink" ng-click="enviarAutorizarXml(3,movimientoReferencia.id);"  >Enviar Registro al Edi</a></li>
                            <li ng-show="movimientoReferencia.estado !== 'R' && movimientoReferencia.estado !== 'A'"><a href="#" style="color:#3F78DF;" class="serifLink" ng-click="enviarAutorizarXml(1,movimientoReferencia.id);"  >Enviar Registro al Sri</a></li>
                            <li ng-show="movimientoReferencia.estado === 'R' || movimientoReferencia.estado !== 'A'"><a href="#" style="color:#26A53A;" class="serifLink" ng-click="enviarAutorizarXml(2,movimientoReferencia.id);"  >Consultar Autorización</a></li>
                        </ul>
                      </div>
                  </td>
                  <td ng-if="columnasTablaMovNC[1].estado ? (currentUsuario.edi ? columnasTablaMovNC[1].edi : columnasTablaMovNC[1].admin) : false" >{{dato.infjson[etiquetasDocXml[dato.tipodocumentosri_id].documento][etiquetasDocXml[dato.tipodocumentosri_id].info][0].fechaEmision[0].replace('/','-').replace('/','-') }}</td>
                  <td style="white-space: nowrap;" ng-if="columnasTablaMovNC[2].estado ? (currentUsuario.edi ? columnasTablaMovNC[2].edi : columnasTablaMovNC[2].admin) : false" >{{dato.fechacreacion|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                  <td style="min-width: 100px;max-width:150px;word-wrap: break-word;" ng-if="columnasTablaMovNC[3].estado ? (currentUsuario.edi ? columnasTablaMovNC[3].edi : columnasTablaMovNC[3].admin) : false"  >{{dato.razonsocial}}</td>
                  <td ng-if="columnasTablaMovNC[4].estado ? (currentUsuario.edi ? columnasTablaMovNC[4].edi : columnasTablaMovNC[4].admin) : false">{{dato.tipodocumentosri_id | checkTipoDoc }}</td>
                  <td style="white-space: nowrap;" ng-if="columnasTablaMovNC[5].estado ? (currentUsuario.edi ? columnasTablaMovNC[5].edi : columnasTablaMovNC[5].admin) : false">
                      <span>
                          <a ng-if="dato.estado !='O' "  href="/ver/ride/tipo/ride/2/id/{{dato.id}}/{{dato.serie}}-{{dato.comprobante}}.pdf"  title="Click Para ver el Ride" target="_blank"><img src="/images/movimientos/file_pdf.png" /></a>
                      </span>
                      <span>
                          <a ng-if="dato.estado ==='A' "  href="/ver/ride/tipo/xmlsri/1/id/{{dato.id}}/{{dato.serie}}-{{dato.comprobante}}.xml" title="Click Para bajar el Xml Autorizado"  target="_top" ><img src="/images/movimientos/file_xml.png" /></a>
                          <a ng-if="dato.estado !=='A' "  title="Aún no se puede bajar el Xml"  target="_top" ><img src="/images/movimientos/document_locked.png" /></a>
                      </span>
                      <span>
                          {{dato.preimpreso}}
                      </span>
                      <span ng-if="dato.totalcorreo" title="{{dato.totalcorreo && dato.totalcorreo >=1 ?'Email enviado. El numero representa la cantidad de veces enviado' :(dato.totalcorreo ? 'Email NO Enviado, Por favor revise el correo. O presione sobre la columna RE-EMAIL: reenvia nuevamente el email':'')}}" class="bg {{dato.totalcorreo && dato.totalcorreo >=1 ?'codigo_EMAIL-E' : (dato.totalcorreo ? 'codigo_EMAIL-NO-ENVIADO':'')}}">{{dato.totalcorreo && dato.totalcorreo >=1 ?'&#160;&#160;&#160;&#160;&#160;&#160;' :(dato.totalcorreo ? '&#160;&#160;&#160;&#160;&#160;&#160;':'')}}{{dato.totalcorreo && dato.totalcorreo >=1 ? '::':''}}{{dato.totalcorreo && dato.totalcorreo >=1 ? dato.totalcorreo:''}}</span>
                        <a  ng-if="dato.totalcorreo" style="height: 4px !important;font-size:9px !important; " title="Click me!, para ver la Bitacora del registro." ng-if="{{dato.totalcorreo}}" href="#popupCloseRight" data-rel="popup" ng-click="control.getMovimientoBitacora(dato)" data-position-to="window" class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext">d</a>
                  </td>
                  <!--Referencia-->
                  <td  ng-if="columnasTablaMovNC[6].estado ? (currentUsuario.edi ? columnasTablaMovNC[6].edi : columnasTablaMovNC[6].admin) : false">
                      <span title="{{'Fecha emisi\u00F3n Doc. Sustento ::'+ dato.infjson.notaCredito.infoNotaCredito[0].fechaEmisionDocSustento[0]}}"  ng-if="dato.tipodocumentosri_id === '2'">{{dato.infjson[etiquetasDocXml[dato.tipodocumentosri_id].documento][etiquetasDocXml[dato.tipodocumentosri_id].info][0].codDocModificado[0] | chequearTipoDocMiddleware}} ::{{dato.infjson[etiquetasDocXml[dato.tipodocumentosri_id].documento][etiquetasDocXml[dato.tipodocumentosri_id].info][0].numDocModificado[0]}}</span>
                      <table ng-if="dato.tipodocumentosri_id === '5'">
                          <tr ng-repeat="impuesto in dato.infjson[etiquetasDocXml[dato.tipodocumentosri_id].documento].impuestos[0].impuesto">
                              <td title="{{'Fecha emisi\u00F3n Doc. Sustento ::'+ impuesto.fechaEmisionDocSustento[0]}}">{{impuesto.codDocSustento[0] | chequearTipoDocMiddleware}} ::{{impuesto.numDocSustento[0]}}</td>
                          </tr>
                      </table>
                      <table ng-if="dato.tipodocumentosri_id === '4'">
                          <tr ng-repeat="destinatario in dato.infjson[etiquetasDocXml[dato.tipodocumentosri_id].documento].destinatarios[0].destinatario">
                              <td title="{{'Fecha emisi\u00F3n Doc. Sustento ::'+ destinatario.fechaEmisionDocSustento[0]}}">{{destinatario.codDocSustento[0] | chequearTipoDocMiddleware}} ::{{destinatario.numDocSustento[0]}}
                                </br>{{destinatario.razonSocialDestinatario[0]}}
                                </td>
                         </tr>
                      </table>
                  </td>
                  <!--fin Referencia-->
                  <!--Clave de acceso y Autorizacion-->
                  <td   ng-if="columnasTablaMovNC[7].estado ===true? (currentUsuario.edi ? columnasTablaMovNC[7].edi : columnasTablaMovNC[7].admin) : false"><span title="Clave de Acceso">{{dato.claveacceso}}</span><br><span title="Autorización" style="color:rgb(107, 98, 98)" >{{dato.numeroautorizacion}}</span></td>
                  <!--Clave de acceso-->
                  <td   ng-if="columnasTablaMovNC[8].estado ===true? (currentUsuario.edi ? columnasTablaMovNC[8].edi : columnasTablaMovNC[8].admin) : false">'{{dato.claveacceso}}</td>
                  <!--Autorizacion-->
                  <td   ng-if="columnasTablaMovNC[9].estado ===true? (currentUsuario.edi ? columnasTablaMovNC[9].edi : columnasTablaMovNC[9].admin) : false">'{{dato.numeroautorizacion}}</td>
                  <!--Subtotal-->
                  <td style="text-align:right"  ng-if="columnasTablaMovNC[10].estado ===true ? (currentUsuario.edi ? columnasTablaMovNC[10].edi : columnasTablaMovNC[10].admin) : false">{{dato.subtotal  | number:2}}</td>
                    <!--Iva-->

                  <td style="text-align:right" ng-if="columnasTablaMovNC[13].estado===true ? (currentUsuario.edi ? columnasTablaMovNC[13].edi : columnasTablaMovNC[13].admin) : false  "    >{{dato.iva  | number:2}}</td>
                  <!--<td ng-if="columnasTablaMovNC[11].estado ? (currentUsuario.edi ? columnasTablaMovNC[11].edi : columnasTablaMovNC[11].admin) : false">00</td>-->
                  <!--Descuentos--->
                  <td style="font-size:10px;text-align:right;" ng-if="columnasTablaMovNC[12].estado===true ? (currentUsuario.edi ? columnasTablaMovNC[12].edi : columnasTablaMovNC[12].admin) : false" >{{dato.descuento | number:2}}</td>
                  <!--Propina-->
                  <td style="text-align:right"  ng-if="columnasTablaMovNC[13].estado===true ? (currentUsuario.edi ? columnasTablaMovNC[13].edi : columnasTablaMovNC[13].admin) : false  ">--{{dato.infjson[etiquetasDocXml[dato.tipodocumentosri_id].documento][etiquetasDocXml[dato.tipodocumentosri_id].info][0].propina[0] | number:2}}</td>
                  <!-- Total -->
                  <td style="text-align:right" ng-if="(columnasTablaMovNC[14].estado===true ? (currentUsuario.edi ? columnasTablaMovNC[14].edi : columnasTablaMovNC[14].admin) : false) && dato.tipodocumentosri_id !== '5'">{{dato.total| number:2}}</td>
                  <td style="text-align:right" ng-if="(columnasTablaMovNC[14].estado===true ? (currentUsuario.edi ? columnasTablaMovNC[14].edi : columnasTablaMovNC[14].admin) : false) && dato.tipodocumentosri_id === '5'"></td>
                  <!-- Xml autorizado -->
                  <td ng-if="columnasTablaMovNC[15].estado ? (currentUsuario.edi ? columnasTablaMovNC[15].edi : columnasTablaMovNC[15].admin) : false">
                      <a ng-if="dato.estado ==='A' "  href="ver/ride/tipo/xmlsri/1/id/{{dato.id}}/{{dato.serie}}-{{dato.comprobante}}.xml" title="Click Para bajar el Xml Autorizado"  target="_top" ><center><img src="/images/movimientos/file_xml.png" /></center></a>
                      <a ng-if="dato.estado !=='A' "  href="ver/ride/tipo/xmlsri/1/id/{{dato.id}}/{{dato.serie}}-{{dato.comprobante}}.xml" title="Aún no se puede bajar el Xml"  target="_top" ><center><img src="/images/movimientos/document_locked.png" /></center></a>
                  </td>
                  <!-- Ride autorizado -->
                  <td ng-if="columnasTablaMovNC[16].estado ? (currentUsuario.edi ? columnasTablaMovNC[16].edi : columnasTablaMovNC[16].admin) : false">
                      <a ng-if="dato.estado !='O' "  href="ver/ride/tipo/ride/2/id/{{dato.id}}/{{dato.serie}}-{{dato.comprobante}}.pdf"  title="Click Para ver el Ride" target="_blank"><center><img src="/images/movimientos/file_pdf.png" /></center></a>
                  </td>
                  <!-- regerar el Ride autorizado -->
                  <td ng-if="columnasTablaMovNC[17].estado ? (currentUsuario.edi ? columnasTablaMovNC[17].edi : columnasTablaMovNC[17].admin) : false">
                      <a  ng-click="regenerarPdf(dato.empresa_id,dato.id,dato.estado)" style="cursor:pointer"  title="Click Para volver a generar el pdf" ><i class="icon-fixed-width icon-retweet icon-large"></i></a>
                  </td>
                  <!-- Volver a enviar el email -->
                  <td ng-if="columnasTablaMovNC[18].estado ? (currentUsuario.edi ? columnasTablaMovNC[18].edi : columnasTablaMovNC[18].admin) : false">
                      <a  ng-click="reenviarEmail(dato.empresa_id,dato.id,dato.estado)"   title="Click Para volver a enviar el email" href="#"  ><i class="icon-fixed-width icon-reply icon-large"></i></a>
                  </td>
                  <td ng-if="columnasTablaMovNC[19].estado ? (currentUsuario.edi ? columnasTablaMovNC[20].edi : columnasTablaMovNC[20].admin) : false" >
                      <a  href="ver/ride/tipo/xmlorigen/1/id/{{dato.id}}/{{dato.serie}}-{{dato.comprobante}}.xml"   title="Click Para bajar el Xml Origen"  target="_top" ><center><img src="/images/movimientos/file_xml.png" /></center></a>
                  </td>
                  <td ng-if="columnasTablaMovNC[20].estado ? (currentUsuario.edi ? columnasTablaMovNC[19].edi : columnasTablaMovNC[19].admin) : false" >
                      <a  href="ver/ride/tipo/xmlfirmado/1/id/{{dato.id}}/{{dato.serie}}-{{dato.comprobante}}.xml"   title="Click Para bajar el Xml Firmado"  target="_top" ><center><img src="/images/movimientos/file_xml.png" /></center></a>
                  </td>
                  <td ng-if="columnasTablaMovNC[21].estado ? (currentUsuario.edi ? columnasTablaMovNC[21].edi : columnasTablaMovNC[21].admin) : false" title="{{dato.estado ?dato.estado:""  | checkEstado:this}}{{dato.ambiente =='1'?' :: IMPORTANTE EL AMBIENTE SRI ES DE PRUEBAS':''}}" class="bg estadoEdi_{{dato.estado}} centrarImagenTD " style="{{dato.ambiente =='1'?'background-color:#F5DF93':''}}">
                  </td>
              </tr>
          </tbody>
          <tfoot>
          <tr>
              <th colspan="100" style="font-size:12px" >
              <nav>
                <ul class="pager">
                  <li class="previous"><a style="cursor:pointer"  ng-click="rc.getRegistros(true, true);"><span aria-hidden="true">&larr;</span>Avanzar</a></li>
                  <li><span style="color:rgb(25, 112, 127);"><input ng-enter="rc.getRegistros(false, false);" ng-blur="rc.getRegistros(false, false);" class="btn-primary" style="width:30px;border-radius:8px;text-align:center"  type="text" ng-model="rc.registrosPorPagina" /> registros por página </span> </li>
                  <li  ><span style="color:rgb(25, 112, 127); " ><span>{{rc.totalRegistrosEncontradosBA}}</span> registros encontrados </span> </li>
                  <li class="next"><a style="cursor:pointer" ng-click="rc.getRegistros(true, false);">Hacia atrás <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
              </nav>
                      <!--<a ng-show="paginasPorRegistros>=10"  href="#" ng-click="avanzarPagina(false,control);"  ng-disabled="avanzarPage" class=" ui-btn-b ui-corner-all ui-shadow ui-mini ng-binding" ><span style="font-size:20px">&#171;<span></a>&#160;&#160;&#160;&#160;<a ng-show="paginasPorRegistros>=10"   href="#" ng-disabled="retrocederPage" class=" ui-btn-b ui-corner-all ui-shadow ui-mini ng-binding" ng-click="avanzarPagina(true, control);" ><span style="font-size:20px">&#187;</span></a>&#160;&#160;-->
              </th>
          </tr>
          </tfoot>
      </table>
</div>
<div class="col-sm-5 col-md-5 " >
    <div class="input-group" ng-hide="currentUsuario.edi" id="buscar-cliente" >
        <div style="width:100%"   id="prefetch-clientes" >
            <input  style="font-size:12px;width:100%!important;"   ng-click="rc.iniciarTypehead();cliente.razonsocial ? rc.mostrarMensajeprefetch=false:rc.mostrarMensajeprefetch=true" id="prefetch-clientes-input"    ng-blur="rc.mostrarMensajeprefetch=false;rc.checkCliente();" ng-enter="rc.checkCliente();" class="btn typeahead" type="text" placeholder=" Ingrese el Cliente/Proveedor a buscar" />
        </div>
        <span class="input-group-btn">
        <button class="btn btn-primary"   ng-click="rc.getRegistros(false, false);" name="buscarRegistrosNow" id="buscarRegistrosNow" type="button"><i class="icon-fixed-width icon-search" title="Buscar registros"></i>
        </button>
    </div>
    <div class="alert alert-success" ng-show="rc.mostrarMensajeprefetch" role="alert">Una vez seleccionado el cliente, presione enter o haga click sobre la lupa de búsqueda<br>Si desea ver todos, borre el registro y presione enter</div>

    <div class="input-group" ng-show="currentUsuario.edi" id="buscar-doc" >
        <input  ng-click="mostrarMensajeBC=true;" ng-blur="mostrarMensajeBC=false;" class="btn"  style="width:100%;border-color:rgb(221, 219, 240)" ng-enter="rc.getRegistros(false, false);"   title="SI DESEA FILTRAR LA BÚSQUEDA POR EL NÚMERO DE DOCUMENTO/CLAVE DE ACCESO/SERIE POR INGRÉSELO EN ESTE CAMPO"    ng-keyup="enviarDatos();" ng-model="control.busqueda.criterio"  type="text" autocomplete="off" placeholder="  ClaveAcceso/serie/comprobante/referencia"  />
        <span class="input-group-btn" >
        <button class="btn btn-primary"   ng-click="rc.getRegistros(false, false);" name="buscarRegistrosNow" id="buscarRegistrosNow" type="button"><i class="icon-fixed-width icon-search" title="Buscar registros"></i>
        </button>
    </div>
    <div class="alert alert-success" ng-show="mostrarMensajeBC" role="alert">Una vez ingresado el criterio a buscar haga click sobre la lupa</div>
</div>
