<span  class="titilo_14">Recuperación de clave</span><hr>

<div class="progress" ng-show="formDatosVirtual.formularioAprocesar">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
        <span class="sr-only">85% Complete</span>Procesando...
    </div>
</div>
<form id="resetearPassword" onsubmit="return false"  ng-submit="procesarFormReseteoPassword()">
    <div class="input-group">
        <span class="input-group-addon" style="background-color:#fff" id="sizing-addon11"><i class="icon-fixed-width icon-user"></i></span>
        <input name="usernamey" ng-keyup="enviarDatos();" id="usernamey" class="form-control" aria-describedby="sizing-addon1" ng-model="formDatosVirtual.rusername"  type="text" autocomplete="off" placeholder="Usuario/Identificación" required />
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon" style="background-color:#fff" id="sizing-addon12"><i class="icon-fixed-width icon-envelope"></i></span>
        <input type="email" ng-keyup="enviarDatos();" class="form-control" name="email" ng-model="formDatosVirtual.remail" id="email" value="" ng-click="formDatosVirtual.msg010=true;" ng-blur="formDatosVirtual.msg010=false;" placeholder="Email registrado. Ej: usuario@correo.com" autocomplete="off" required/>
    </div>
    <div class="alert alert-warning" ng-show="formDatosVirtual.msg010" role="alert">El email ingresado debe coincidir con el que se encuentra ya registrado en su cuenta, en caso contrario el sistema le mostrará un mensaje de email no coincide.<br>Si tiene problemas al ingresar, puede optar por la opción Asistente Virtual</div>
    <br>
    <div class="input-group">
        <span class="input-group-addon" style="background-color:#fff" id="sizing-addon13"><label for="captcha" style="color:white;text-shadow:none"><img style="height:auto;width:50px" ng-src="{{imagenCaptcha}}" /></label></span>
        <input type="text" ng-keyup="enviarDatos();" class="form-control" name="captcha" ng-model="formDatosVirtual.captcha" id="captcha" value="" placeholder="Ingrese el número" autocomplete="off" required/>

    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon" style="background-color:#fff"  id="sizing-addon4"><input type="checkbox" ng-click="enviarDatos();" onclick="enviarTerminosRP()" ng-model="formDatosVirtual.rcondic" data-mini="true"   id="terminosCRP" /></span>
        <label for="terminosCRP" type="text" class="form-control"  aria-describedby="sizing-addon2" ><span style="font-weight:normal">Acepto las condiciones</span></label>
    </div>
    <a href="#"  aria-describedby="sizing-addon2" ng-click="irA('home.condiciones');enviarDatos();"><span style="font-size:14px !important;"><span style="font-size:14px !important;">Ver Condiciones</span></span></a>
    <br>
    <br>
    <input type="submit"  class="btn btn-primary " value="Resetear Password"/>
</form>